@{
    ViewData["Title"] = "Home Page";
        }

<div class="text-center">

    

    <h1 class="display-4"> Soy Alejandro Bravo Morteo </h1>
    <h2>Soy Ingeniero Mecatrónico con conocimientos en Software </h2>

    <img id="foto"
    src="~/imagenes/foto.png" alt="Foto de Alejandro"/>

</div>


